In [14]:
import pandas as pd

In [155]:
import numpy as np

In [45]:
budget_data=pd.read_csv("budget_data.csv")

In [47]:
budget_data.head(87)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [54]:
budget_data.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [55]:
budget_data.count()

Date             86
Profit/Losses    86
dtype: int64

In [56]:
budget_data.sum()

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [63]:
budget_data.isnull()

     Date  Profit/Losses
0   False          False
1   False          False
2   False          False
3   False          False
4   False          False
..    ...            ...
81  False          False
82  False          False
83  False          False
84  False          False
85  False          False

[86 rows x 2 columns]

In [64]:
budget_data.isnull().mean() * 100

Date             0.0
Profit/Losses    0.0
dtype: float64

In [68]:
budget_data.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [69]:
budget_data.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
81    False
82    False
83    False
84    False
85    False
Length: 86, dtype: bool

In [70]:
budget_data["Date"].duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
81    False
82    False
83    False
84    False
85    False
Name: Date, Length: 86, dtype: bool

In [82]:
budget_data.describe(include="all")

            Date  Profit/Losses
count         86   8.600000e+01
unique        86            NaN
top     Jan-2010            NaN
freq           1            NaN
mean         NaN   4.463090e+05
std          NaN   5.363579e+05
min          NaN  -1.196225e+06
25%          NaN   1.821620e+05
50%          NaN   5.703280e+05
75%          NaN   7.952262e+05
max          NaN   1.170593e+06

In [84]:
budget_data.set_index(pd.to_datetime(budget_data['Date'], infer_datetime_format=True), inplace=True)
budget_data.head()

                Date  Profit/Losses
Date
2010-01-01  Jan-2010         867884
2010-02-01  Feb-2010         984655
2010-03-01  Mar-2010         322013
2010-04-01  Apr-2010         -69417
2010-05-01  May-2010         310503

In [90]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [97]:
budget_data_1_year = budget_data['2010-01-01':'2010-12-31']

In [117]:
budget_data_1_year.describe()

       Profit/Losses
count   1.200000e+01
mean    4.709232e+05
std     4.320387e+05
min    -2.163860e+05
25%     2.155230e+05
50%     5.001945e+05
75%     8.743655e+05
max     1.033096e+06

In [98]:
budget_data_2_year = budget_data['2011-01-01':'2011-12-31']

In [115]:
budget_data_2_year.describe()

       Profit/Losses
count   1.200000e+01
mean    3.861018e+05
std     6.733427e+05
min    -1.022534e+06
25%     2.256348e+05
50%     5.245980e+05
75%     7.892960e+05
max     1.170593e+06

In [100]:
budget_data_3_year = budget_data['2013-01-31':'2013-12-31']

In [118]:
budget_data_3_year.describe()

       Profit/Losses
count   1.100000e+01
mean    3.294033e+05
std     7.170150e+05
min    -1.196225e+06
25%     1.683885e+05
50%     4.714350e+05
75%     8.309800e+05
max     1.150461e+06

In [101]:
budget_data_4_year = budget_data['2014-01-31':'2014-12-31']

In [119]:
budget_data_4_year.describe()

       Profit/Losses
count   1.100000e+01
mean    7.068940e+05
std     2.842222e+05
min     1.328640e+05
25%     5.803055e+05
50%     6.891610e+05
75%     8.857155e+05
max     1.166643e+06

In [102]:
budget_data_5_year = budget_data['2015-01-31':'2015-12-31']

In [120]:
budget_data_5_year.describe()

       Profit/Losses
count   1.100000e+01
mean    4.882943e+05
std     4.606731e+05
min    -5.246260e+05
25%     2.453435e+05
50%     5.685290e+05
75%     8.094800e+05
max     1.029471e+06

In [104]:
budget_data_6_year = budget_data['2016-01-31':'2016-12-31']

In [121]:
budget_data_6_year.describe()

       Profit/Losses
count   1.100000e+01
mean    1.613290e+05
std     7.178344e+05
min    -1.163797e+06
25%    -5.697900e+04
50%     4.457090e+05
75%     7.350520e+05
max     7.959140e+05

In [105]:
budget_data_7_year = budget_data['2017-01-31':'2017-12-31']

In [122]:
budget_data_7_year.describe()

       Profit/Losses
count            1.0
mean        671099.0
std              NaN
min         671099.0
25%         671099.0
50%         671099.0
75%         671099.0
max         671099.0